* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-image: url(../photos/cover.jpg);
  width: 100%;
}
.top {
  position: relative;
  width: 100%;
  height: 100vh;
}
#logo {
  position: relative;
  width: 200px;
  height: 100px;
}
#logo:hover {
  opacity: 80%;
}
h2 {
  color: rgba(255, 255, 0, 0.744);
  border-bottom: 2px solid;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
}
nav {
  display: flex;
  width: 85%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}
nav ul li a:hover:not(.current) {
  color: red;
}
.side {
  padding: 20px;
  margin-left: 5%;
  margin-top: 10%;
  color: aliceblue;
}
.side h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
#lastn {
  color: yellow;
  text-shadow: 1px 1px 10px black;
}
#lastn:hover{
  font-size: 60px;
  transition: 1s;
}
.side p {
  margin-left: 2%;
  line-height: 25px;
}
.side a {
  background-color: rgb(34, 120, 60);
  color: aliceblue;
  text-decoration: none;
  padding: 10px 18px;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
  margin-left: 2%;
  border-radius: 5px;
}
.right {
  width: 40%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 60px;
}
.right img {
  height: 90%;
  width: ;
  position: absolute;
  bottom: 20px;
  left: 20%;
  border-radius: 10%;
  box-shadow: 2px 2px 5px black;
  /* transform: translateX(-50%); */
}
.right img:hover{
  height: 100%;
  box-shadow: 2px 2px 20px rgb(34, 34, 34);
  transition: .75s;
  transform: translateX(5%);
}
#fname {
  font-size: 50px;
  color: oldlace;
}
.current {
  font-size: x-large;
  text-shadow: 2px 2px 5px black;
}
i{
  margin-right: 12px;
  margin-left: 12px;
  background: transparent;
  color: green;
  font-size: 20px;
}
h2 i{
  color:rgb(214, 228, 228);
  font-size: 30px;
  margin-right: 10px;
}
span:not(.sp2,#fname,#lastn){
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  background-color:rgb(109, 165, 18);
  box-shadow: 2px 2px 10px black;
  border-radius: 10px;
  padding: 5px;
  
}
.sp2{
  text-transform: capitalize;
  padding: 40px;
  font-size: 30px;
  text-shadow: 4px 4px 5px rgb(16, 20, 20);

}